<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Librarys-->
	<% if(msg==='Join') {%>
		<script defer type="text/javascript" src="/js/lib/matter.min.js"></script>
		<script defer type="module" src="/js/game/main.js"></script>
	<%}%>
	<title>Bomberman - Game</title>
</head>
<body>

	<% if(msg==='Join') {%>
		<div id="content-game"></div>
	<%}else {%>
		<h1><%=msg%></h1>
	<%}%>
</body>
</html>
